# Ambiente virtual
venv/
.env/

# Cache Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Dados (NÃO versionar dados brutos)
data/
*.csv
*.parquet
*.xlsx
*.json

# Modelos treinados
*.pkl
!models/xgb_artifacts.pkl
*.joblib

# Logs
*.log

# Sistema operacional
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

notebooks/analises.ipynb
notebooks/modelostest.ipynb
notebooks/xgbtest.ipynb
notebooks/04_notebook.ipynb
02_notebook.ipynb
03_notebook.ipynb
04_notebook.ipynb
